{% extends 'base.html' %}
{% block css %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="photo">
        <img src="/static/img/photo.jpg">
    </div>
    <ul class="info">
        <li>
            <span class="fio"> {{ surname | title }} {{ name | title }} {{ middlename | title }}</span>
        </li>
        <li>
            Год рождения: 1983
        </li>
        <li>
            Город: Новокузнецк
        </li>
        <li>
            Образование: Высшее
        </li>
    </ul>
    <div class="clearfix"></div>
    <div class="desc">
        <p>
            Проживаю в г.Новокузнецке(Кемеровская область). Программированием начал интересоваться еще в
            юности, когда мне купили первый компьютер "Дельта-С". Т.к. единственным предустановленым языком
            был Basic, то можно считать, что именно с него я начал свой путь. Литературы не было и первые основы
            постигались методом "научного тыка".
        </p>
        <p>
            С 1997 по 2000 годы учился в лицее, там изучал Pascal. По прошествии времени понимаю, что методика
            преподавания в школах программированию имеет очень низкую эффективность.
        </p>
        <p>
            Далее поступил в Сибирский Государственный Университет, на металлургический факультет. До сих пор не
            понимаю,
            зачем мне это было нужно -). У универе программирование было на таком уровне, что лучше не вспоминать.
            В то время увлекся ActionScript (скриптовый язык для Flash). Пробовали писать игры, было очень много очень
            плохо года, т.к. наш уровень оставлял желать лучшего. Затем были попытки писать на С++ и Java.
        </p>
        <p>
            Году в 2012 наткнулся на python, и понял что это именно то, что я искал. Именно изучая питон, я понял, как
            должены выглядеть правильный код и начал проникаться DAO-python'a.
        </p>
    </div>
{% endblock %}