{% extends 'base.html' %}
{% block content %}

    {% if not works %}
        Я еще нигде не работал
    {% endif %}

    {% for work in works %}
        <div class="block">
            <div class="header">
                <a href="/work/{{ work.id }}">
                    {{ work.organization.name }}
                </a>
            </div>
            <div class="post">
                Должность: {{ work.position }}
            </div>
            <div class="desc">
                {{ work.duties }}
            </div>
        </div>
    {% endfor %}
{% endblock %}